header {
    background-color: darkslategrey;
    color: lightblue;
    text-align: center;
}

#maincard {
    line-height: 200%;
    font-weight: bold;
    font-size: 45px;
}

.components {
    line-height: 200%;
    font-weight: lighter;
    font-size: 32px;
}

h2 {
    font-weight: lighter;
    font-size: 32px;
}

footer {
    text-align: center;
    font-weight: lighter;
}